## Objective

- Learning about comparaison and logical operatuer
- Learning about conditions and working with ``if`` ``else`` ``elif``
- Learning about ``match``
- Learning about loops and working with ``for`` and ``while``

## Comparaison and logical operatuer

### Introduction

We saw how to create variables and how to do arithmetic operation on them , but sometimes we need more than that ,we will see now how to do comparaison between variables to make conditions and also how to do logical operations between coditions

### Comparaison Operator

Python provide us with some operator to compare variables with each others :
- ``==`` Check if two variables are equal
- ``< ``  &nbsp; Check if variable a is less then b ``a < b``
- ``<=`` Check if variable a is less or equal b ``a <= b``
-  ``> `` &nbsp; Check if a is greater then b `a > b``
-  ``>=`` Check if a is greater or equal b ``a >= b``
- ``!=`` Check if a and be arn't equal ``a != b``

In [ ]:
a = 5
b = 10
print(a == b)
print(a < b)
print(a <= b)
print(a > b)
print(a >= b)
print(a != b)

### Logical operatuer

Comparaison operateur arn't always enough, sometimes we need to check condition based on many comparaisons so to chain the result of those comparaison operator together we use logical operator
- ``and`` used to say (something and something) it will return ``True`` only if all the oprands are ``True``
- ``or`` used to say (something or something else) it will return ``True`` if one of the operand is ``True`` or both of them
- ``not`` wil inverse the result if it is ``True`` it become ``False`` , if it is ``False`` it becomes ``True``  

We can see bellow truth table of those operators  

<p align="center">
<img src="" />
</p>  

**0** Represent ``False``  
**1** Represent ``True``

In [ ]:
a = 5
b = 10
comparison1= a > b
comparison2 = a < b
print(comparison1)
print(comparison2)
print(comparison1 or comparison2)
print(comparison1 and comparison2)
print(not comparison1)

## Conditions and if else statement

### Introduction

We saw so far how to make comparaison between variable and how to make chaine the result of those comparaison together to build more complex conditions , now we will learn how to use those condition to control the way that our program follow

### If statement

In previous lecteurs our code was taking only 1 path to excute instructions and it is by going from top to bottom but now we will use what learnt in this lecture to make our program run in a different way based on some conditions  
To do that we have to use (if statement) explained bellow
```
a = int(input("Enter number"))
if a > 0:
    print("positive")
else :
    print("negative or null")     
```  
In the code above we saw how (if statement) works,we write ``if condition :`` then we shift to the next line and any code we want to work when the condition is true should be idented 4 spaces, if the codition isn't true we can run other statements using ``else :``  
Somtimes we want to check other conditions if first one is false then we use ``elif condition:``  
Example :  
```
a = int(input("Enter number"))
if a > 0:
    print("positive")
elif a < 0:
    print("negative")
else :
    print("null")  
```

In [ ]:
a = int(input("Enter number : "))
if a > 0:
    print("positive")
else :
    print("negative or null")

In [ ]:
a = int(input("Enter number : "))
if a > 0:
    print("positive")
elif a < 0:
    print("negative")
else :
    print("null")

In [ ]:
age = int(input("Enter your age : "))
if age < 18 and age >= 1:
    print("not allowed to get in")
elif age < 100 and age >= 1:
    print("allowed to get in")
else :
    print("invalid age")

## Working with match

### Introduction

Sometimes we have a collection of possible values that variable can hold and for each value we want to excute a specific statement , we can do that using ``if`` and ``elif``  
but there is better way to do this by using ``match`` statement

### Match statement

To work with match statement we need variable that we want to check and the possibles values , for each possible value we do a ``case`` and inside it the statement that we want to run , if we have a case for more then one value we separate them with ``|`` , and to run a statement for the rest of possiblites that are out of our case we use ``_``  
Example :     
```
name = "Ali"
match name:

    case "Om":
        print("Om do not have access")
    case "Vishal" |"Ali":
        print("Vishal, Ali have access ")
    case "Rishabh":
        print("Rishabh is the manager")
    case _:
        print("Not part of this project")
```

In [ ]:
name = input("Enter name : ")
match name:
    case "Om":
        print("Om do not have access")
    case "Vishal" |"Ali":
        print("Vishal, Ali have access ")
    case "Rishabh":
        print("Rishabh is the manager")
    case _:
        print("Not part of this project")

In [ ]:
number = int(input("Enter number : "))
match number:
    case 1:
        print("one")
    case 2:
        print("two")
    case 3:
        print("three")
    case 4:
        print("four")
    case _:
      print("other number")

## Loops

### Introduction

We saw how to work with conditions and how to make our code follow a different path based on those conditions but sometimes we need more than that, we need to repeat part of code more than once and keep writting a line of code 10 or 20 times will be annoying a lot, to fix this we use loops.  
In python we have 2 type of loop ``for`` and ``while``

### For loop:

We use this loop to repeat a statement for a known number also we can use it to loop through element of tuple list or sets  
Example:
```
city_names = ["Gaza","Cairo","Jerusalem"]
for name in city_names:
    print(name)
```
To repeat statement x times we use ``range(x)``, ``range()`` will return a range of values from 0 to x-1
```
x = 10
for n in range(10):
    print(n)
```

In [ ]:
city_names = ["Gaza","Cairo","Jerusalem"]
for name in city_names:
    print(name)
x = 10
for n in range(x):
    print(n)

### While loop:

When we don't know how many times we should repeat our statement and we know only that the code should be working while having a valid condition we use ``while``  
Example:
```
x = 0
while x <= 10:
    print(x)
    x += 1
```

In [ ]:
x = 0
while x < 10:
    print(x)
    x += 1

### The keyword break and continue

We saw so far how to create and work with loops but sometimes we need more control over a loop, we need to jump a step or break and get out of the loop when a condition become true , to do so we can use the two keyword ``break`` and ``continue``
- ``break`` used to break and quit the loop
- ``continue`` used to jump a step

In [ ]:
# This code will jump next number when if find that the current number is even
for i in range(10):
    if i % 2 == 0:
        continue
    print(i)
# This code will break and exit when it reach the number 5
for i in range(10):
    if i == 5:
        break
    print(i)

### Remarques

- We can fall in infinity loop and our code will keep working non stop if we arn't aware enough of our condition
- We can nest loops inside each other and make one inside another

# Tasks

## Task 1:

Create programe that take from the user a, b and c then solve this equation $ax^2+bx+c = 0$
### Hint:

To calculate $\sqrt{delta}$ use $a^{1/2}$

## Task 2:

Create programe that find the prime number between 0 and n.  
n is number will be entred by the user
### Hints:

- You will need 2 loops.
- Prime number is number that divide only by itself and 1.