# Objective

- Learning about list and working with them
- Learning about and working with tuple
- Learning about and working with Sets
- Learning about Dictionary
- Learning about Mutability

# List

## Introduction

In lecture 1 we ran over the basic data types and how to create variables , but lets suppose we want to create a variable that holds more than 1 value, lets suppose we want to save our  favourite cities names we can't keep creating variables for each city name this will be annoying,
to fix this we have "List", list allows us to store many values in 1 variables

## Creating lists

Creating list, is similar to creating other variables , we need a variable name then = then to store value as element of list we put them inside ``[ ]`` we separate them with commas ``,``  
Or we can use ``city_name = list()`` to create empty list  

Example :
```
city_names = ["Gaza","Jerusalem","Algiers"]
```

In [ ]:
city_names = ["Gaza","Jerusalem","Algiers"]
print(city_names)

## Access list elements and some operations on list

### Access list elements

We saw how to create list but now we need a way to access those values included in the list, to do so we use the index methode , first element of the list have the index 0
For the previous city_names list **``Jerusalem``** have the index **``1``** and **``Gaza``** the index **``0``** , now we just need to write the list name and add the index of value that we want inside ``[ ]``  
Example :
```
print(city_names[0]) # this will print Gaza
```

In [ ]:
city_names = ["Gaza","Jerusalem","Algiers"]
print(city_names[0])

### Working with list

We saw how to access element of a list now we will see some basic operation on lists
- Getting list length , we do that using len()
- Changing list element value , we do that using **``city_names[2] = "Cairo"``**
- Adding element to list , we do that using ``.append()`` ``city_names.append("Dubai")``
- Inserting value , to insert value on specific index we use ``city_names.insert(index,value)``
- Removing value , to remove value from list we use ``city_name.remove(value)``
- Removing using index, to remove value using it index we use ``city_names.pop(index)`` if we want to just remove last value we use ``city_names.pop()``
- Clear list, to clear list and return empty list we can use ``city_names.clear()``
- Copy list , to copy list to another one we use ``city_names.copy()``
- Check if value exist, to check if value exist on list we use the keyword ``in``
- Adding 2 lists together ,to ad 2 list to each other and concate them we use ``+``  
- Sorting list , to sort element of list we use ``city_names.sort()`` , to reverse the order that the list have we use ``city_names.reverse()``

Example:
```
numbers = [4,7,8]
more_numbers = [5,7,9]
all_numbers=numbers+more_numbers
```

In [ ]:
colors = ["Red","White","Yellow","Green","Grey","Black","Orange"]
print(colors[0])
print(len(colors))
colors[2] = "Blue"
print(colors)
colors.append("Purple")
print(colors)
colors.insert(3,"Pink")
print(colors)
colors.remove("White")
print(colors)
colors.pop()
print(colors)
is_color_exist = "Red" in colors
print(is_color_exist)
colors.clear()
print(colors)
numbers = [4,7,8]
more_numbers = [5,7,9]
all_numbers=numbers+more_numbers
print(all_numbers)

# Tuples

## Introduction

Tuples work same as list they are used to store many values inside 1 variable but the deffirence is when we create tuples we can't change them or change data inside them, all we can do to tuple is read it data

## Creating tuple

Creating tuple is same as creating list the deffirence is we put variables inside ``( )`` instead of ``[ ]``  
Or we can use ``city_name = tuple()`` to create empty tuple  

Example :
```
city_names = ("Gaza","Jerusalem","Algiers")
```

In [ ]:
city_names = ("Gaza","Jerusalem","Algiers")
print(city_names)

## Access tuple elements

To access tuples elements, we use index (same way as list) and counting start from 0  
Example :
```
print(city_names[0]) # this will print Gaza
```
We can't change tuple elemet value and we can't add element to tuples

In [ ]:
city_names = ("Gaza","Jerusalem","Algiers")
print(city_names[0])
print(len(city_names))
is_city_exist = "Gaza" in city_names
print(is_city_exist)

# Sets

## Introduction

Set is another type that can hold many values but the key feature of sets is they don't save duplicated value, each value should be presented only once

## Creating set

To create set all what we have to do is chosing name for the set then using = followed by ``{ }`` we put inside them values separated by comma ``,``  
Or we can use ``city_name = set()`` to create empty set   

Example :
```
city_names = {"Gaza","Jerusalem","Algiers"}
```

In [ ]:
city_names = {"Gaza","Jerusalem","Algiers"}
print(city_names)

## Operations on sets

We can't access set elements using the index methode, but there is some other operations we can do to sets:
- Adding element to set , to add element to set we use ``city_names.add()``
- Removing element from set, to remove element from set we use ``city_names.remove()``
- Check if value exist in set, to check if value exist inside a set we use the keyword ``in``
- Getting the union of 2 sets, to get the union of 2 sets we use ``city_names.union(more_city_names)``
- Getting the deffirence between 2 sets , to get the element that exist in one set and don't exist in second one we use ``city_names.difference(more_city_names)``
- Getting the intersection of 2 sets, to get the intersection between two sets we use ``city_names.intersection(more_city_names)``
- Getting the value that both set don't share , to get the value that both sets don't share we use ``city_names.symmetric_difference(more_city_names)``
<p align="center">
<img src="">
        </p>

In [ ]:
city_names = {"Gaza","Jerusalem","Algiers"}
#print(city_names[0]) # This will cause error
city_names.add("Dubai")
print(city_names)
city_names.remove("Gaza")
print(city_names)
is_city_exist = "Gaza" in city_names
print(is_city_exist)
more_city_names = {"Dubai","Gaza","Algiers"}
print(city_names.union(more_city_names))
print(city_names.difference(more_city_names))
print(city_names.intersection(more_city_names))

# Dictionary

## Introduction

Dictionary are used to store data as key value, to access value we have to use the key associeted with it

## Creating dictionary

To create ductionary all what we have to do is chosing name for the dictionary then using = followed by ``{ }`` in which we include key value separated by :

Each key value pair must be separated by comma ``,``  
Or we can use ``capitals = dict()`` to create empty dictionary

Example :
```
capitals = {"Egypt":"Cairo","Palestine":"Jerusalem","Algeria":"Algiers"}
```

In [ ]:
capitals = {"Egypt":"Cairo","Palestine":"Jerusalem","Algeria":"Algiers"}
print(capitals)

## Working with dictionary

- Accessing value, to access value inside dict we use it key ``capitals["Algeria"]`` or we can use ``capitals.get("Algeria")``
- Adding key value pair,to add key value pair we just write dictionary name then inside ``[]`` the newy key then ``=`` followed by value
- Getting all keys, to get all dictionary keys we use ``capitals.keys()``
- Getting all values, to get all values that are inside dictionary we use ``capitals.values()``
- Getting key,values ,to get all keys and values that are inside dictionary we use  ``capitals.items()``
- Copy dictionary , to copy dictionary to another one we use ``capitals.copy()``
- Clear dictionary, to clear dictionary and return empty dictionary we can use ``capitals.clear()``
- Remove from dictionary , to remove key value from dictionary we use ``capitals.pop("Algeria")`` , this will remove the item and return the value that the key had
- Remove last key value pair from dictionary , to remove last value from dictionary we use ``capitals.popitem()`` it will remove last key value pair and return it as tuple

In [ ]:
capitals = {"Egypt":"Cairo","Palestine":"Jerusalem","Algeria":"Algiers"}
print(capitals["Algeria"])
print(capitals.get("Algeria"))
capitals["Syria"]="Damascus"
print(capitals)
print(capitals.keys())
print(capitals.values())
print(capitals.items())
capitals.pop("Algeria")
print(capitals)
capitals.popitem()
print(capitals)
capitals_copy = capitals.copy()
print(capitals_copy)
capitals.clear()
print(capitals)

# Mutability

mutability mean that we can change value of variables , not all data type are mutable   
the mutable ones are :
- list
- dictionary
- set  


Immutable type are :
- Float
- Integer
- Tuple
- String  

If we are to change a value of an immutable variable then we're basiclly creating a whole new variable

In [ ]:
numbers=(4,5,8)
#numbers[2]=9 # This will cause error if you incommet it
n = 4.5
print(id(n))
n = 6.6
print(id(n))
list_numbers=[4,5,8]
print(id(list_numbers))
list_numbers[2]=9
print(id(list_numbers))
# we use id to check if variable is same or we created new one

# Task:

Make program that save two of your friends name,age and favourite_colors and store them inside dictionary then display which colors both of them favourites and colors that only the first friend favourites